body {
	margin: 0;
	// height: 100vh;
	// width: 500vw;
	// overflow-y: hidden;
	display: flex;
	flex-direction: column;
	background-color: rgba(248, 232, 212, .6);
	background-image: url('/img/texturedpaper.png');
}

#years {
	order: -1;
	display: flex;
	position: relative;
	margin-bottom: 2em;
	p {
		position: absolute;
		float: left;
	}
}

.station {
	// border: 1px solid blanchedalmond;
	display: none;
	background-color: yellowgreen;
	position: relative;
	&[data-created] {
		display: block;
	}
}

.deprecated {
	background-color: peru;
}

.nodata {
	background-color: tomato;
}

