body {
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: rgba(248, 232, 212, .6);
	background-image: url('/img/texturedpaper.png');
}

#years {
	order: -1;
	display: flex;
	position: fixed;
	top: 0;
	background-color: rgba(255, 255, 255, .9);
	// padding-bottom: 2em;
	width: 100vw;
	p {
		position: relative;
		float: left;
	}
}

.station {
	display: none;
	background-color: yellowgreen;
	position: relative;
	&[data-created] {
		display: flex;
		border-bottom: 20px solid;
		border-image: url('/img/train-tracks.svg') 18 round;
	}
	img, svg {
		max-width: 3.5em;
	}
	border-bottom: .2em dashed black;
}

.deprecated {
	background-color: peru;
}

.nodata {
	background-color: tomato;
}

footer {
	padding-top: 2em;
	order: 10;
	text-align: right;
	color: grey;
	a {
		color: grey;
	}
}

