body {
  margin: 0;
  width: 500vw;
  display: flex;
  flex-direction: column;
  background-color: tomato;
}

.station {
  border: 1px solid blanchedalmond;
  background-color: yellowgreen;
  display: none;
  position: relative;
}

.station[data-created] {
  display: block;
}

.deprecated {
  background-color: peru;
}
